<div>
  <% if unread %>
    <span>Unread:</span>
  <% end %>
  <span><%= link_to user.email, user, data: {turbo: "false"} %></span>
  <% if chat_room.is_private %>
  sent a new message
  <% else %>
  sent a message on
  <span><%= link_to chat_room.title, chat_room, data: {turbo: "false"} %></span>
  <% end %>
</div>