<% if current_user %>
  <div class="container">
    <h4>Notifications</h4>
    <hr>
    <%= turbo_stream_from "notifications_#{user.id}" %>
    <%= turbo_frame_tag "notifications_#{user.id}" do %>
      <% @notifications.each do |notification| %>
        <%= render notification,
            user: notification.to_notification.creator,
            chat_room: notification.to_notification.chat_room,
            unread: notification.unread? %>
      <% end %>
    <% end %>
  </div>
<% end %>